<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-neutral-900 py-3 text-neutral-200 shadow-lg lg:flex-wrap lg:justify-start"
  data-te-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-6">
    <button
      class="block border-0 bg-transparent py-2 px-2.5 text-neutral-200 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent4"
      aria-controls="navbarSupportedContent4"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent4"
      data-te-collapse-item>
      <a class="pr-6 text-6xl font-semibold text-white" href="#">Tomato</a>
      <!-- Left links -->
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref>
        <li class="p-6" data-te-nav-item-ref>
          <a
            class="text-white text-2xl disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            routerLink="/"
            data-te-nav-link-ref
            >Home</a
          >
        </li>
        <li class="p-6" data-te-nav-item-ref>
          <a *ngIf="isAuthenticated"
            class="p-0  text-2xl text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            routerLink="products"
            data-te-nav-link-ref
            >Products</a
          >
        </li>
        <li class="p-6" data-te-nav-item-ref>
          <a *ngIf="isAuthenticated"
            class="p-0 text-2xl text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
            routerLink="checkout"
            data-te-nav-link-ref
            >Checkout</a
          >
        </li>
      </ul>
    </div>

    <!-- Right elements -->

                                                      <!-- If not Logged in -->
    <button *ngIf="!isAuthenticated" class="bg-white-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      <h1 routerLink="auth">Login</h1>
    </button>
     
                                                      <!-- If  Logged in -->
    <div *ngIf="isAuthenticated" class="relative flex items-center">
      <a
        class="mr-4 text-white opacity-60 hover:opacity-80 focus:opacity-80"
        routerLink="my-orders">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>
      <button>
        <i (click)="onLogout()" class="fa fa-power-off" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</nav>





