<div class="bg">
<div *ngIf="afterPlaced">
   <div class="two alt-two">
    <br>
    <h1>Your order <br>
      <span>Enjoy your food</span>
    </h1>
  </div>


                                                      <!-- If No Items Selected -->

<div *ngIf="!hasOrder&&afterPlaced" class="center">
 <h1 style="font-family: sans-serif;font-size: 1.5rem;text-align: center">No Items Selected</h1><br>
 <button style="text-align: center;"class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    <a [routerLink]="'/products'">Go to products</a>
  </button>
</div>

  </div>
<div  *ngIf="isPlaced" class="center-order " > <h1 class="text-4xl">Order Confirmed</h1>
  <br>
  <img style="height: 100px; width: 100px; margin-left: 16%;"src="https://assets.stickpng.com/images/5aa78e207603fc558cffbf19.png" alt="">
  <br>
    <br>
  <button style="margin-left: 14%;"class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    <a [routerLink]="'/my-orders'">Go to orders</a>
  </button>
</div>


                                                      <!-- If Items are added -->
<div *ngIf="hasOrder&&afterPlaced" >
<div class="bg-white p-2 rounded-md">
	
		<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					<table class="min-w-full leading-normal">
						<thead>
							<tr>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-2xl font-semibold text-gray-600 uppercase tracking-wider">
									Item
                  
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-2xl font-semibold text-gray-600 uppercase tracking-wider">
									Quantity
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-2xl font-semibold text-gray-600 uppercase tracking-wider">
									Amount
								</th>
							</tr>
						</thead>
						<tbody>
            
							<tr *ngFor="let q of quantity.quantity index as i">
								<td *ngIf="show(q)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<div class="flex items-center">
										<div class="flex-shrink-0 w-40 h-40">
											<img class="w-full h-full rounded-full"
                                                src="{{products.product[i].image}}"       alt="" />
                                        </div>
											<div class="ml-3">
												<p class="text-2xl text-gray-900 whitespace-no-wrap">
													{{products.product[i].name}}
												</p>
                        <br>
                        <app-quantity [(size)]="quantity.quantity[i]"><h1 class="quantity text-2xl">{{quantity.quantity[i]}}</h1></app-quantity>
        
											</div>
										</div>
								</td>
								<td *ngIf="show(q)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-2xl text-gray-900 whitespace-no-wrap">{{quantity.quantity[i]}}</p>
								</td>
								<td *ngIf="show(q)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-2xl text-gray-900 whitespace-no-wrap">
										{{quantity.rate[i]}}
									</p>
								</td>
								
							</tr>
          
						</tbody>
					</table>
					</div>
				</div>
			</div>
		
	</div>
  <hr>
<br><br>
<button (click)="placeOrder()" style="margin-left: 47%;"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
  Checkout
</button>
<br><br>
<hr>
<br>
</div>
