<div *ngFor="let data of dataArray index as i">
    <div *ngIf="i">
        <div class="bg-white p-2 rounded-md">
	
            <div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th *ngIf="i"
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-2xl font-semibold text-gray-600 uppercase tracking-wider">
                                        Order No:{{i}}
                      
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-2xl font-semibold text-gray-600 uppercase tracking-wider">
                                        Quantity
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                
                                <tr *ngFor="let orders of data.slice(1)">
                                    <td  class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0 w-40 h-40">
                                                <img class="w-full h-full rounded-full"
                                                    src="{{products.product[orders['id']].image}}"       alt="" />
                                            </div>
                                                <div class="ml-3">
                                                    <p class="text-2xl text-gray-900 whitespace-no-wrap">
                                                       {{orders['name']}} 
                                                    </p>
                            <br>
                    
            
                                                </div>
                                            </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-2xl text-gray-900 whitespace-no-wrap">{{orders['quantity']}}</p>
                                    </td>
                                    
                                    
                                </tr>
              
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            
        </div>
    <br>

