#product
{
    background-image: url(https://thumbs.dreamstime.com/b/asian-food-background-various-ingredients-rustic-stone-top-view-vietnam-thai-cuisine-148762904.jpg);
    background-size: 100% 18%;
    background-repeat: no-repeat;
    background-color: grey;
    
}
.bg
{
    background-color: gray;
}